:host {
  display: flex;
  flex: 1;
}

.internal-zone-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;

  .mat-toolbar {
    width: 100%;
    flex: 0 0 64px;
    z-index: 1;

    .flex {
      flex: 1;
      text-align: center;
      color: lightcoral;
    }
  }

  .home-link {
    cursor: pointer;
  }

  .internal-zone-wrapper {
    width: 100%;
    flex: 1;
  }
}
