@import "~src/assets/styles/checkered";

.preview {
  @include checkeredBackground();
}

.preview-container {
  .info-container {
    display: flex;
    align-items: center;
    padding: 2px 5px;

    .name {
      flex: 1;
    }

    button {
      visibility: hidden;
    }
  }

  &:hover {
    .info-container button {
      visibility: visible;
    }
  }
}
