<div class="preview-container" *ngIf="all$ | async as all">
  <div class="preview">
    <svg [attr.viewBox]="'0 0 ' + drawing.width + ' ' + drawing.height"
         [attr.width]="200"
         [attr.height]="150"
         preserveAspectRatio
         oncontextmenu="return false;">
      <ng-container *ngFor="let path of all">
        <g>
          <ng-container *ngIf="path.z">
            <path [attr.d]="path._path" [attr.fill]="path.fill" [attr.stroke]="path.stroke"></path>
          </ng-container>
          <ng-container *ngIf="!path.z">
            <path [attr.d]="path._path" [attr.fill]="'transparent'" [attr.stroke]="path.stroke"></path>
          </ng-container>
        </g>
      </ng-container>
    </svg>
  </div>
  <div class="description">
    <span>{{drawing.name}}</span>
  </div>
</div>
