<div class="preview-container" *ngIf="all$ | async as all" [ngClass]="size">
  <div class="preview">
    <svg [attr.viewBox]="'0 0 ' + drawing.width + ' ' + drawing.height"
         [attr.width]="size === 'normal' ? 200 : 167"
         [attr.height]="size === 'normal' ? 150 : 127"
         preserveAspectRatio
         oncontextmenu="return false;">
      <ng-container *ngFor="let path of all">
        <g>
          <ng-container *ngIf="path.z">
            <path [attr.d]="path._path" [attr.fill]="path.fill" [attr.stroke]="path.stroke"></path>
          </ng-container>
          <ng-container *ngIf="!path.z">
            <path [attr.d]="path._path" [attr.fill]="'transparent'" [attr.stroke]="path.stroke"></path>
          </ng-container>
        </g>
      </ng-container>
    </svg>
  </div>
  <div class="info-container" *ngIf="controls">
    <span class="name">{{drawing.name}}</span>
    <button mat-icon-button (click)="copy($event, drawing)"><mat-icon>file_copy</mat-icon></button>
    <button mat-icon-button color="warn" (click)="remove($event, drawing)"><mat-icon>delete</mat-icon></button>
  </div>
</div>
