<ng-container *ngIf="animations$ | async as animations">
  <ui-container name="Animations">
    <div class="list">
      <div class="item original" [class.active]="!id">
        <span class="name" (click)="toggle(null)">Original</span>
      </div>
      <div class="item" *ngFor="let animation of animations; let i = index"
           [class.active]="id === animation.id">
        <mat-checkbox name="visibility"
                      [checked]="animation.visibility"
                      (change)="toggleVisibility($event, animation.id, animation.visibility)"></mat-checkbox>
        <span class="name" (click)="toggle(animation.id)">{{i + 1}}</span>
        <span class="attach-icon-container" #closeLink>
          <button mat-icon-button (click)="remove($event, closeLink, animation.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <div class="actions">
      <button mat-button color="primary" (click)="add($event)">Add</button>
    </div>
  </ui-container>
</ng-container>
