:host {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: white;
  box-shadow: 0 0 8px #eaeaea;
}

.container {
  display: flex;
  height: 40px;
  width: 100%;

  .title {
    background-color: #3f51b5;
    padding: 0 8px;
    user-select: none;
    color: #ffffff;
  }

  .content {
    display: flex;
    overflow: auto;
  }
}
