@import "~src/assets/styles/checkered";

$opacity: .3;

.drwn-area {
  @include checkeredBackground();

  cursor: default;
  user-select: none;
  box-shadow: 0 0 8px #eaeaea;

  .original-container {
    opacity: $opacity;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .animation {
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .original-path,
  .path {
    opacity: $opacity;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;

      line:hover {
        stroke-width: 5px;
      }

      circle {
        r: 5;
      }
    }
  }

  &.demo-view {
    .original-path,
    .path {
      opacity: 1;
    }
  }
}
