@import "~src/assets/styles/checkered";

.container {
  width: 260px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 8px #eaeaea;
}

.list {
  display: flex;
  flex-wrap: wrap;

  .item {
    padding: 4px;

    .color {
      width: 48px;
      height: 48px;
      cursor: pointer;

      &.transparent {
        @include checkeredBackground();
      }
    }
  }
}
