<div class="container" *ngIf="colors$ | async as colors">
  <mat-form-field>
    <input name="custom-color"
           matInput
           #colorField
           [value]="viewData"
           placeholder="Custom color" (change)="changeColorByText(colorField)"/>
  </mat-form-field>
  <div class="list">
    <div class="item" *ngFor="let color of colors" [class.active]="viewData === color.text">
      <div class="color"
           (click)="changeColor(color.text)"
           title="{{color.text}}"
           [class.transparent]="color.text === 'transparent'"
           [style.backgroundColor]="color.text"></div>
    </div>
  </div>
</div>
