:host {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 260px;

  max-height: calc(100vh - 100px);;
}

.list {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;

  .item {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    border-bottom: 1px solid #eaeaea;
    cursor: default;
    user-select: none;

    .name {
      display: block;
      width: 100%;
      padding: 0 8px;
    }

    .info {
      font-size: 10px;
      flex-shrink: 0;
      padding: 0 4px;
    }

    .attach-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      cursor: pointer;

      &.disabled {
        opacity: 0.25;
        pointer-events: none;
        cursor: default;
      }
    }

    &.inherited {

    }

    &.active,
    &:hover {
      background-color: #ececec;
    }
  }

  &.animation {
    .item {
      opacity: .35;

      &.inherited {
        opacity: 1;
      }
    }
  }
}

.actions {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
