:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.draw-area {
  position: absolute;
}

.info {
  position: absolute;
  bottom: -16px;
  right: 0;
  height: 20px;
  background-color: white;
  padding: 0 2px;
  font-size: 12px;
}

.preview-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
