<div class="layout-settings-container" *ngIf="layout$ | async as layout">
  <mat-form-field>
    <input matInput
           name="name"
           #field
           [value]="layout.name"
           (change)="changeName($event)"
           placeholder="Layout name" />
  </mat-form-field>
  <div class="color-selector-container">
    <div class="title">Stroke style:</div>
    <div class="color"
         #strokeField
         (click)="changeStrokeColor(strokeField, layout.strokeColor)"
         [style.backgroundColor]="layout.strokeColor"
         [class.transparent]="layout.strokeColor === 'transparent'"
         [class.stroke-default]="!layout.strokeColor"></div>
  </div>
  <div class="color-selector-container" [class.inactive]="!layout.closed">
    <div class="title">Fill style:</div>
    <div class="color"
         #fillField
         (click)="changeFillColor(fillField, layout.fillColor)"
         [style.backgroundColor]="layout.fillColor"
         [class.transparent]="layout.fillColor === 'transparent'"
         [class.fill-default]="!layout.fillColor"></div>
  </div>
  <div class="container">
    <mat-checkbox [checked]="layout.closed" (change)="changeClose($event)">Is Closed</mat-checkbox>
  </div>
  <div class="container remove-container">
    <button mat-icon-button (click)="remove()" color="warn" #removeButton>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
