<ng-container *ngIf="layouts$ | async as layouts">
  <ui-container name="Layouts">
    <div class="layouts-list">
      <div class="layout" *ngFor="let layout of layouts" [class.active]="layout.id === currentActive">
        <mat-checkbox name="visibility"
                      [checked]="layout.visible"
                      (change)="toggleVisibility($event, layout.id)"></mat-checkbox>
        <span class="name" (click)="toggleActive(layout.id)">{{layout.name}}</span>
        <layout-settings [path]="layoutsPath" [layoutId]="layout.id"></layout-settings>
      </div>
    </div>
    <div class="layouts-actions">
      <button mat-button color="primary" (click)="add(buttonRef)" #buttonRef>Add layout</button>
    </div>
  </ui-container>
</ng-container>
